

.metatesk-header {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 500px;
}


.metatesk-header img{
  width: 30%;
}

.metatesk-header svg{
  width: 10%;
  margin: 30px;
}

/* section one */


.metatesk-text p{
  font-size: 30px;
  margin: 20px  10px;
}


.metatesk-img{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metatesk-img img{
  width: 80%;
  height: auto;
  border-radius: 20px;
  border:  5px solid #FBB116;
}
/* section Two */


.section-Two{
  background-color: #482AFF;
}

.metatesk-box{
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.metatesk-box p{
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.metatesk-box .img-div{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.metatesk-box .img-div img{
  width: 50%;
  height: auto;
}

/* secton three */

.section-Three{
  margin: 50px auto;
}


.line{
  display: flex;
  justify-content: center;
  height: 60px;
}

.line span{
  margin: 5px;
  transition: all 0.2s ease;
}

.line span:hover{
  font-size: 25px;
  font-weight: 700;
  color: #482AFF;
  cursor: pointer;
}