/* main-admin-page */

.main-admin-page{
  margin-top: 60px;
}

.main-admin-page .col-md-6{
  margin: 20px 0px;
}

.table-box  {
  border-radius: 20px;
  padding: 10px;
  border: 2px dashed rgb(77, 63, 63);
}

.table-box p{
  border-bottom: 2px solid rgb(160, 150, 150);
}

.btn-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-div  button{
  border-radius: 10px;
  border: none;
  padding: 4px 20px;
  font-size: large;
  color: white;
}

.btn-div button:nth-child(1){
  background-color: green;
}

.btn-div button:nth-child(2){
  background-color: red;
}

/* create-page */


.create-page{
  margin-top: 60px;
  border: 1px solid black;
}



/* login-form */
.login-form{
  margin-top: 30px;
}

.login-form form{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:100px;
}

.login-form label {
  display: inline-block;
  padding: 10px;
}

.login-form input {
  height: 40px;
  margin: 10px;
}


.login-form button{
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
}

.table tbody tr {
  text-align: center;
}

.table{
  width: 50%;
}

.create-button{
  position: fixed;
  border:3px solid rgb(53, 43, 43);
  bottom: 50px;
  right: 50px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 30px;
  color: red;
  background-color: unset;
}

.create-div{
  width: 100%;
  margin: 20px;
}

.create-div select{
  margin: 20px;
}

/* create class */


.create-data{
  width: 100%;
  height: auto;
  border: 1px solid;
  text-align: center;
}

.create-data select{
  width: 100px;
  text-align: center;
  border-radius: 20px;
  font-weight: 600;
  padding: 5px;
  background-color: white;
  margin: 10px;
}



.create-data form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create-data form label{
  margin: 10px;
}

.create-data form label input{
  margin-left: 5px;
}

.create-data button{
  border: none;
  background-color: blue;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
}

.data ul{
  padding-inline-start: 0px;
  list-style: none;
}

.data div{
  display: flex;
}

.data ul li{
  width: 100%;
  border: 1px solid;
}

.data button{
  border: none;
  background-color: red;
  border-radius: 0px;
  color: white;
  padding: 2px 10px;
  margin: 0px 20px 0px auto;
}