body {
  padding: 0px;
  margin: 0px;
}

/* html{
  --vh: auto !important;
  height: auto !important;
  padding: 0px !important;
  margin: 0px !important;
} */

.one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background: url('./img/back.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
}

.one>img {
  position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1{
  display: block;
}
.img2{
  display: none;
}


.front {
  margin: 40px auto 30px auto;
  width: 60%;
  height: auto;
}

.front-cv{
  margin: 300px auto 300px auto;
  width: 60%;
  height: auto;
}

.front-cv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .map p {
  animation: myLigt 4s infinite;
  animation-timing-function: linear;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background: none;
  border: none;
} */

@keyframes myTextLigt {
  from {
    color: #00ccff;
  }

  to {
    color: #1B003A;
  }
}

.map {
  position: absolute;
  position: relative;
  width: 150px;
  bottom: 140px;
  padding: 5px 0px 2px;
  background-color: white;
  /* animation: myLigt 4s infinite;
  animation-timing-function: linear; */
  text-align: center;
  overflow: hidden;
}

.map a {
  text-decoration: none !important;
  font-size: 20px;
  font-weight: bold;
  font-family: "Calibri Light";
  text-transform: uppercase;
}

@media(max-width:2300px) and (min-width:1400px){
  .map a {
    font-size: 30px;
  }
  .map {
    width: 200px;
    padding: 5px 0px 0px;
  }
}
@media(max-width:1800px) and (min-width:1400px){
  .map {
    bottom: 80px;
  }
}



@keyframes myLigt {
  from {
    box-shadow: 0 0 0px #FFAA00, 0 0 0px #FFAA00, 0 0 0px #FFAA00;
    background: black;
    color: #00ccff;
  }

  to {
    box-shadow: 0 0 20px #FFAA00, 0 0 50px #FFAA00, 0 0 90px #FFAA00;
    background: #FFAA00;
    color: #1B003A;
  }
}

.map span {
  position: absolute;
  display: block;
}

.map span:nth-child(1) {
  top: 0;
  width: 100%;
  height: 2px;
  /* border: 2px #5b41ff; */
  animation: spanLight1 4s infinite;
  /* -webkit-animation-delay: 0.1s;
  animation-delay: 0.1; */
}

@keyframes spanLight1 {
  from {
    left: -300px
  }

  to {
    left: 0px;
  }
}



.map span:nth-child(2) {
  right: 0;
  width: 2px;
  height: 100%;
  animation: spanLight2 4s infinite;
  /* -webkit-animation-delay: 0.6s;
  animation-delay: 0.6; */
}

@keyframes spanLight2 {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

.map span:nth-child(3) {
  bottom: 0;
  width: 100%;
  height: 2px;
  animation: spanLight3 4s infinite;
  /* -webkit-animation-delay: 1s;
  animation-delay: 1s; */
}

@keyframes spanLight3 {
  from {
    right:  -300px;
  }

  to {
    right: 0%;
  }
}

.map span:nth-child(4) {
  left: 0;
  width: 2px;
  height: 100%;
  animation: spanLight4 4s infinite;
}

@keyframes spanLight4 {
  from {
    bottom: -100px;
  }

  to {
    bottom: 0px;
  }
}
/* imran */

.imran span:nth-child(1){
  background: linear-gradient(90deg, transparent, #5b41ff);
}
.imran span:nth-child(2){
  background: linear-gradient(180deg, transparent, #5b41ff);
}
.imran span:nth-child(3){
  background: linear-gradient(270deg, transparent, #5b41ff);
}
.imran span:nth-child(4){
  background: linear-gradient(360deg, transparent, #5b41ff);
}

.imran a {
  color: #6d56fc;
}
/* -- */
/* oqtay */

.oqtay span:nth-child(1){
  background: linear-gradient(90deg, transparent, #68c9f2);
}
.oqtay span:nth-child(2){
  background: linear-gradient(180deg, transparent, #68c9f2);
}
.oqtay span:nth-child(3){
  background: linear-gradient(270deg, transparent, #68c9f2);
}
.oqtay span:nth-child(4){
  background: linear-gradient(360deg, transparent, #68c9f2);
}

.oqtay a {
  color: #68c9f2;
}

/* -- */

/* raul */

.raul span:nth-child(1){
  background: linear-gradient(90deg, transparent, #9e91f0);
}
.raul span:nth-child(2){
  background: linear-gradient(180deg, transparent, #9e91f0);
}
.raul span:nth-child(3){
  background: linear-gradient(270deg, transparent, #9e91f0);
}
.raul span:nth-child(4){
  background: linear-gradient(360deg, transparent, #9e91f0);
}

.raul a {
  color: #9e91f0;
}

/* idris27 */

.alidris27 span:nth-child(1){
  background: linear-gradient(90deg, transparent, #68c9f2);
}
.alidris27 span:nth-child(2){
  background: linear-gradient(180deg, transparent, #68c9f2);
}
.alidris27 span:nth-child(3){
  background: linear-gradient(270deg, transparent, #68c9f2);
}
.alidris27 span:nth-child(4){
  background: linear-gradient(360deg, transparent, #68c9f2);
}

.alidris27 a {
  color: #68c9f2;
}

@media(max-width:1199px) {
  .map {
    bottom: 20px;
  }
}

@media (max-width:1024px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 40px auto 40px auto;
    width: 80%;
  }

  .front-cv{
    margin: 200px auto 200px auto;
    width: 60%;
    height: auto;
  }

  .map {
    width: 150px;
    bottom: 80px;
    text-align: center;
  }

  
}

@media (max-width:991px) {
  .content {
    height: 140vh;
  }


  .front {
    margin: 60px auto 60px auto;
    width: 70%;
  }


  .map {
    width: 130px;
    bottom: 80px;
    text-align: center;
    bottom: 60px;
  }
}

@media (max-width:768px) {
  .content {
    height: 140vh;
  }

  .front {
    width: 70%;
  }

  .front-cv{
    margin: 300px auto 300px auto;
    width: 75%;
  }

  .map {
    bottom: 30px;
  }
}

@media (max-width:650px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 85px auto 85px auto;
    width: 95%;
  }

  .map {
    bottom: 40px;
  }

  .img1{
    display: none;
  }
  .img2{
    display: block;
  }
}

@media (max-width:500px) {

  .front {
    margin: 95px auto 95px auto;
    width: 100%;
  }

  .map {
    bottom: 90px;
  }
}

@media (max-width:450px) {

  .front {
    margin: 120px auto 120px auto;
    width: 100%;
  }
}



@media (max-width:400px) {

  .front {
    margin: 160px auto 160px auto;
    width: 100%;
  }
}



@media (max-width:375px) {

  .front {
    margin: 180px auto 180px auto;
    width: 100%;
  }
}

@media (max-width:355px) {

  .front {
    margin: 200px auto 200px auto;
  }
}

/* 
.loading{
  width: 100%;
  height: 100vh;
  background: white;
  position: absolute;
  z-index: 100;
  background-image: url('../img/owl.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
} */