

.invitations-map{
  width: 300px;
 position: relative;
 bottom: 60px;
}

@media(max-width:768px){
  .invitations-map{
    width: 200px;
  }
}

@media(max-width:635px){
  .invitations-map{
    width: 150px;
  }
}

.invitations-map img{
  width: 100%;
  height: 100%;
}
