* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}




/* NAVICATION  */


.stick-class {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
}

.nav-main-menu {
  width: 100%;
  height: 60px;
  background-color: #482AFF;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-box-shadow: 0 5px 5px rgba(5, 25, 114, 0.4);
  -webkit-box-shadow: 0 5px 5px rgba(5, 25, 114, 0.4);
  box-shadow: 0 5px 5px rgba(5, 25, 114, 0.4);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
}

@media(max-width:2300px) and (min-width:1800px) {
  .nav-main-menu {
    height: 95px;
  }
}

.nav-menu {
  width: 90%;
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.ul-nav {
  display: flex;
  list-style: none;
  margin: 0px 0px 0px auto;
  padding-inline-start: 0px;
}

.ul-nav li {
  margin: auto 10px auto 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-size: 15px;
}

.ul-nav li a {
  text-decoration: unset;
  color: white;
  font-size: 15px;
}

@media(max-width:2300px) and (min-width:1800px) {
  .ul-nav li {
    font-size: 30px;
  }

  .ul-nav li a {
    font-size: 30px;
  }
}

.ul-nav li a:hover {
  border-bottom: 1px solid white;
}



.logo {
  margin: auto 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.entesk {
  /* border: 1px solid black; */
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  height: 100%;
  margin: 0px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around
}

@media(max-width:1280px) and (min-width:1200px) {
  .entesk {
    width: 25%;
  }
}


.entesk a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entesk a img {
  width: 40%;
  height: auto;
}

/* navication for mobile */

@media(max-width:1800px) and (min-width:1400px) {
  .entesk a img {
    width: 45%;
  }

  .nav-main-menu {
    height: 80px;
  }
}

@media(max-width:1199px) {
  .nav-menu {
    display: none;
  }
}

@media(max-width:1024px) {
  .entesk a img {
    width: 50%;
  }
}

@media(max-width:768px) {
  .entesk a img {
    width: 70%;
  }
}

@media(max-width:567px) {
  .entesk {
    width: 50%;
  }

  .entesk a img {
    width: 60%;
  }
}

@media(max-width:470px) {
  .entesk a img {
    width: 70%;
  }
}

.sidebar {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 50%;
  right: -90px;
  background-color: #482AFF;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.sidebar ul {
  list-style: none;
  margin: 0px auto auto 0px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.sidebar ul li {
  color: white;
  font-size: 25px;
}

@media(max-width:390px) {
  .sidebar ul li a {
    font-size: 20px;
  }

  .sidebar ul li {
    font-size: 20px;
  }
}

.main-burger {
  border: none;
  background-color: #482AFF;
  outline: none !important;
  margin: auto 15px auto auto;
}

.side-burger {
  border: none;
  background-color: #482AFF;
  outline: none !important;
  margin: 20px auto 20px 20px;
}


/* --- homebanner */


.main-banner {
  background-image: url('./images/homebg-shape.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  animation: example 2s;
  /* animation-duration: 4s; */
  /* animation-delay: 8s; */
  animation-timing-function: ease-in;
}





.logo-image {
  position: fixed;
  top: 10px;
  z-index: 100;
  width: 3%;
}

@media(max-width:2300px) and (min-width:1800px) {
  .logo-image {
    top: 20px
  }
}

@media(max-width:1800px) and (min-width:1400px) {
  .logo-image {
    top: 15px
  }
}


.banner-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 60%;
  cursor: pointer;
}

.banner-text {
  text-align: center;
  margin-top: 60px;
}

.banner-text h1 {
  color: white;
}

.banner-text p {
  color: white;
}

.technology img {
  z-index: 2 !important;
}

.banner-style-logo {
  width: 40%;
  height: 55%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media(max-width:2300px) and (min-width:1800px) {
  .banner-style-logo {
    width: 35%;
    height: 50%;
  }
}



.logo-img {
  width: 30%;
  height: auto;
}

.banner-style-text {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}

.banner-style-text p {
  margin: 0px 5px 0px 5px;
}



.logo-text {
  height: 40%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.text-img {
  width: 40%;
}


/* homeBanner mediaquery */

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link img {
  position: absolute;
  width: 15%;
  z-index: 1;
  transform: translateX(-50%);
  border-radius: 150px;

}

.link img:hover {
  box-shadow: 0 2px 25px 0 white, 0 2px 25px 0 white;
  transition: 0.1s;
}

@media(max-width:2300px) and (min-width:1800px) {
  .link img:hover {
    box-shadow: 0 2px 25px 0 white, 0 2px 25px 0 white;
  }
}

@media(max-width:1199px) {
  .logo-image {
    width: 4%;
  }
}

@media(max-width:991px) {
  .banner-style-logo {
    height: 45%;
  }

  .logo-img {
    width: 30%;
    height: auto;
  }

  .text-img {
    width: 55%;
  }

  .logo-image {
    width: 4.5%;
  }
}

@media(max-width:768px) {
  .banner-style-logo {
    height: 50%;
  }

  .banner-text {
    margin-top: 20px;
  }

  .logo-img {
    width: 24%;
  }

  .logo-image {
    width: 5.5%;
  }
}

@media(max-width: 620px) {
  .logo-image {
    width: 7%;
  }
}

@media(max-width:600px) {
  .logo-img {
    width: 30%;
  }

  .text-img {
    width: 75%;
  }
}

@media(max-width:500px) {
  .text-img {
    width: 80%;
  }

  .logo-image {
    width: 8%;
  }
}

@media(max-width:470px) {
  .logo-img {
    width: 40%;
  }

  .logo-image {
    width: 9%;
  }
}

@media(max-width:400px) {
  .banner-style-logo {
    height: 50%;
  }

  .logo-img {
    width: 30%;
  }

  .text-img {
    width: 85%;
  }

  .logo-image {
    width: 11%;
  }
}

@media(max-width:350px) {
  .logo-image {
    width: 11.5%;
  }
}

/* environment ---- */

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.environment img {
  border: 5px solid #97C441;
}

.click-div {
  cursor: pointer;
}

.environment-banner {
  background-image: url('./images/environmentbg-shape.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;

}



.environment-banner h1 {
  color: white;
}

.environment-img1 {
  position: fixed;
  z-index: 10;
  transform: translateX(-50%);
}

.environment-img1 img {
  width: 100px;
}

.environment-img1 a {
  display: flex;
  justify-content: center;
}


.environment-img2 {
  position: absolute;
  transform: translateX(-50%);
}

.environment-img2 img {
  width: 200px;
}

.environment-img3 img {
  width: 200px;
}

.environment-img3 {
  position: absolute;
  transform: translateX(50%);

}

/* environment course */

/* section one */




.section-one .main-box {
  padding-top: 10px;
  width: 95%;
}


@media(max-width:1024px) {
  .section-one .main-box {
    margin: 0px 0px auto auto;
  }
}

@media(max-width:575px) {
  .section-one .main-box {
    width: 80%;
  }
}

.main-box div {
  width: 100%;
  position: relative;
  padding-left: 10px;
}

.section-one .information {
  display: flex;
}

.section-one .png {
  position: absolute !important;
  width: 60px !important;
  height: 100%;
  margin-top: 0px !important;
  left: -60px;
}

.png::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0px;
  border: 1px solid #5C29FF;
  bottom: 0px;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}

@media(max-width:575px) {
  .png::before {
    border: none;
    border-left: 1px solid #5C29FF;
  }
}

.png::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid #5C29FF;
  border-radius: 60px;
  bottom: 0px;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  background: white;
}

.main-box div:nth-child(1) .png::before {
  height: 150%;
}

.main-box div:nth-child(2) .png::before {
  height: 150%;
}



.main-box ul li {
  font-size: 18px;
  margin: 5px auto 5px 0px;
  list-style: none;
}

.environment-course-req h2 {
  margin: 0px auto 20px 0px !important;
}

.main-box div ul {
  padding-inline-start: 0px;
}

.environment-course div:nth-child(3) ul li {
  list-style: disc;
  margin: 5px auto 5px 15px;
  padding-inline-start: 0px;
}

.main-desc {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: auto;
  width: 100%;
  margin: 0px auto 0px auto;
}


.environment-desc b {
  font-size: 25px;
  color: #97C441;
}

.linear {
  mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0));
  -webkit-mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0));
}

.linearunset {
  mask-image: unset;
  -webkit-mask-image: unset;
}

.main-desc button {
  border: none;
  background: #5CCDFF;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 30px;
}



.main-desc p {
  font-size: 18px;
}

@media(max-width:1024px) {
  .main-desc {
    width: 97%;
    margin: 0px 0px 0px auto;
  }
}

@media(max-width:768px) {
  .smallScreen .environment-course:nth-child(1) div .png {
    height: 110%;
  }

  .smallScreen .environment-course:nth-child(2) div .png {
    height: 130%;
  }

  .main-desc {
    width: 95%;
  }
}


@media(max-width:665px) {
  .environment-course {
    width: 80%;
    margin: auto;
  }

  .main-desc {
    width: 90%;
    margin: auto;
  }
}

@media(max-width:575px) {
  .main-desc {
    width: 60%;
    margin: auto;
  }

  .main-box ul li {
    font-size: 15px;
    margin: auto;
  }
}

@media(max-width:400px) {

  .main-desc {
    width: 60%;
  }
}

/* section-2 */



.environment-course-slider .section-2 {
  height: 350px;
  background-color: #5C29FF;
}


.environment-course-slider .slick-center>div {
  height: 260px !important;
}

.environment-course-slider .slick-slide>div {
  height: 200px;
}


/* section three */


.section-3-main-div .environment-course h2 {
  color: #97C441 !important;
}

.section-3-main-div .environment-course>p {
  font-size: 2rem;
  color: #97C441 !important;
}

.section-3-main-div .environment-course ul {
  flex-wrap: nowrap;
  display: block;
  padding-inline-start: 0px;
  padding: 10px;
  list-style-position: inside;
  text-align: right;
}



.section-3-main-div .main-box ul li {
  list-style: none;
  margin: 0px auto 0px 0px;
  position: relative;
}

.section-3-main-div .main-box ul li span {
  position: absolute;
  right: 0px;
  top: -3px;
}

.section-3-main-div .main-box ul li p {
  margin-right: 15px;
  font-size: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.section-3-main-div .main-box {
  margin-top: 20px !important;
  margin: auto;
  text-align: right;
  position: relative;
  padding-right: 10px;
  width: 100%;
}

@media(max-width:1199px) {
  .section-3-main-div .main-box {
    margin-top: 0px !important;
    width: 90%;
  }

  .mundaricat {
    width: 94%;
  }
}

@media(max-width:991px) {
  .section-3-main-div .main-box {
    width: 100%;
  }

  .mundaricat {
    width: 95%;
  }
}

@media(max-width:768px) {
  .section-3-main-div .main-box {
    width: 100%;
  }

  .mundaricat {
    width: 100%;
  }
}

@media(max-width:675px) {
  .section-3-main-div .main-box {
    width: 90%;
  }

  .mundaricat {
    width: 90%;
  }
}


@media(max-width:576px) {
  .section-3-main-div .main-box {
    width: 70%;
  }

  .mundaricat {
    width: 70%;
  }
}

.section-3-main-div .png {
  position: absolute !important;
  width: 60px !important;
  height: 100%;
  margin-top: 0px !important;
  right: -60px;
}

.section-3-main-div .main-box .png::before {
  height: 100%;
}

.linethree .main-box .png::before {
  height: 130%;
}



.linethree {
  display: flex;
  position: relative;
}

.linethree img {
  position: absolute;
  right: 0px;
  top: 0px;
}



.content-div {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content-div p {
  font-size: 25px;
  font-weight: 700;
}

/* Technology design */

.main-box-tech {
  position: relative;
  margin-bottom: 30px;
}

.technology-course h2 {
  color: #5CCDFF;
}

.technology-desc b {
  font-size: 25px;
  color: #5CCDFF;
}

.section-3-main-div .technology-course>p {
  font-size: 2rem;
  color: #5CCDFF;
}

.section-3-main-div .technology-course div:nth-child(2) p {
  font-size: 25px;
  color: #5CCDFF;
}

/* new environment */

.environment-course h2 {
  color: #97C441;
  margin: 0px auto 0px 0px !important;
}

.environment-course div:nth-child(2) p {
  color: #97C441;
  font-size: 25px;
}

/* skill deisgn */

.skill-course h2 {
  color: #FF952C;
}

.skill-desc b {
  font-size: 25px;
  color: #FF952C;
}

.section-3-main-div .skill-course>p {
  font-size: 2rem;
  color: #FF952C;
}

.section-3-main-div .skill-course div:nth-child(2) p {
  font-size: 25px;
  color: #FF952C;
}

.main-box {
  position: relative;
  margin-bottom: 30px !important;
}


.main-box .png {
  position: absolute !important;
  width: 60px !important;
  height: 100%;
  margin-top: 0px !important;
  right: -60px;
}

@media(max-width:1199px) {
  .main-box .png {
    right: -35px;
  }
}

@media(max-width:991px) {
  .main-box .png {
    right: -60px;
  }
}



.section-one .main-box div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.section-3-main-div .main-box div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 100%;
  margin: auto;
}

@media(max-width: 1199px) {
  .section-3-main-div .main-box div:nth-child(2) {
    width: 95%;
    margin: auto;
  }
}



.main-box div:nth-child(2) .note .cantent-btn {
  border: none;
  background: #5CCDFF;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  position: static !important;
}


.section-3-main-div .main-box div:nth-child(2) ul {
  text-align: right;
}

.main-box div:nth-child(2) ul li {
  list-style: none;
  position: relative;
  padding-right: 15px;
}

.main-box div:nth-child(2) ul li span {
  position: absolute;
  top: 0px;
  right: 0px;
}

.main-box div:nth-child(2) ul li p {
  color: black !important;
  font-size: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.cantents {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0));
  -webkit-mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0));
}

.cantentul {
  height: unset;
  overflow: hidden;
  margin-bottom: 30px;
}

.level-div {
  text-align: right;
}

.level-div p {
  font-size: 20px !important;
  font-weight: 700 !important;
  color: black !important;
  margin: 10px 30px 10px auto;
}

.list-div {
  height: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  text-align: end;
}



.list-div ul {
  padding: 0;
  list-style-position: inside;
  direction: rtl;
  text-align: right;
}

.list-div p {
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
}


.cantent-btn {
  border: none;
  background: #5CCDFF;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: -30px;
}

@media(max-width:665px) {

  .contentpng {
    width: 80%;
    margin: auto;

  }

  .cantentul {
    padding-right: 0px;
  }

  .cantents {
    padding-right: 0px;
  }

  .list-div {
    padding-right: 0px;
  }
}

@media(max-width:400px) {
  .section-3-main-div .environment-course {
    width: 70%;
  }

  .section-3-main-div .environment-desc {
    width: 70%;
  }

  .contentpng {
    width: 70%;
  }
}



/*environment mediaquery  */

@media(max-width:768px) {
  .environment-img2 img {
    width: 150px;
  }

  .environment-img3 img {
    width: 150px;
  }

  .environment-banner h1 {
    font-size: 30px;
  }

  .environment-img1 img {
    width: 80px;
  }
}

@media(max-width:480px) {
  .environment-img2 img {
    width: 120px;
  }

  .environment-img3 img {
    width: 120px;
  }
}

@media(max-width:450px) {
  .environment-img1 img {
    width: 70px;
  }
}

@media(max-width:400px) {
  .environment-banner h1 {
    font-size: 25px;
  }
}


/* technology ----- */

.technology .img-box img {
  border: 5px solid #55CBF9;
}

.technology img {
  border: 5px solid #55CBF9;
}

.technology-banner {
  background-image: url('./images/technologybg-shape.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.technology-banner h1 {
  color: white;
}

.technology-img1 {
  position: absolute;
  transform: translateX(-50%);
}

.technology-img1 img {
  width: 200px;
}

.technology-img3 {
  position: absolute;
  transform: translateX(50%);
}

.technology-img3 img {
  width: 200px;
}


.technology-img2 {
  position: fixed;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 5;
}

.technology-img2 img {
  width: 100px;
}

.technology-img2 a {
  position: unset !important;
  display: flex;
  justify-content: center;
}




/* technology mediaquery -- */

@media(max-width:768px) {
  .technology-img1 img {
    width: 150px;
  }

  .technology-img3 img {
    width: 150px;
  }

  .technology-img2 a {
    margin: auto;
  }

  .technology-banner h1 {
    font-size: 30px;
  }

  .technology-img2 img {
    width: 80px;
  }
}



@media(max-width:480px) {
  .technology-banner h1 {
    font-size: 25px;
  }

  .technology-img1 img {
    width: 120px;
  }

  .technology-img3 img {
    width: 120px;
  }
}

@media(max-width:450px) {
  .technology-banner h1 {
    font-size: 25px;
  }

  .technology-img2 img {
    width: 70px;
  }
}


/* skill ------ */

.skill .img-box img {
  border: 5px solid #FBB116;
}

.skill  img {
  border: 5px solid #FBB116;
}

.skill-banner {
  background-image: url('./images/skillbg-shape.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}



.skill-banner h1 {
  margin: auto 100px auto 100px;
  color: white;
}

.skill-img1 {
  position: absolute;
  transform: translateX(-50%);
}

.skill-img1 img {
  width: 200px;
}

.skill-img2 {
  position: absolute;
  transform: translateX(50%);
}

.skill-img2 img {
  width: 200px;
}

.skill-img3 {
  position: fixed;
  z-index: 10;
  transform: translateX(50%);
}

.skill-img3 img {
  width: 100px;
}

.skill-img3 a {
  display: flex;
  justify-content: center;
}



/* skill mediaquery  */

@media(max-width:768px) {
  .skill-img1 img {
    width: 150px;
  }

  .skill-img2 img {
    width: 150px;
  }

  .skill-img3 a {
    margin: auto;
  }

  .skill-img3 img {
    width: 80px;
  }

  .skill-banner h1 {
    font-size: 30px;
  }
}

@media(max-width:480px) {
  .skill-banner h1 {
    font-size: 25px;
  }

  .skill-img3 img {
    width: 80px;
  }

  .skill-img1 img {
    width: 120px;
  }

  .skill-img2 img {
    width: 120px;
  }
}

@media(max-width:450px) {
  .skill-img3 img {
    width: 70px;
  }

  .skill-banner h1 {
    font-size: 20px;
    margin: auto;
  }
}




/* HOME SECTIONS----------- */

/* section 1  */

.section-one {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto 40px auto;
}

.text-box {
  /* height: 300px; */
  padding: 0px 20px 20px 0px;
  position: relative;
}

.section-one .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-one .text-box img {
  width: 100%;
  height: auto;
}



.section-one .text-box ul {
  padding-inline-start: 0px;
  margin-top: 20px;
  margin-left: 60px;
}

.section-one .text-box li {
  list-style: none;
}

.text-box h2 {
  color: blue;
  font-size: 30px;
  margin: 0px auto 20px 60px;
}

.text-box p {
  margin: 20px 0px auto 60px;
  z-index: -1;
}


.section-1-button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin: 35px auto 20px 60px;
  background-color: #FF952B;
  color: white;
}

@media(max-width:778px) {
  .section-1-button {
    margin: auto;
  }
}

.section-one .text-box .png {
  position: absolute !important;
  width: 60px !important;
  height: 100%;
  margin-top: 0px !important;
  left: 0px;
}

.vjs-icon-play,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder {
  content: "" !important;
}



.video-js {
  border: 5px solid #FF952B;
  border-radius: 60px;
  margin: 20px auto;
}

.video-js .vjs-tech {
  border-radius: 60px;
}

.vjs-poster {
  border-radius: 60px;
  background-position: center !important;
  background-size: 100% !important;
}


.video-js .vjs-big-play-button {
  background-image: url('/src/images/Polygo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  font-size: 3em;
  line-height: unset !important;
  height: 230px !important;
  width: 200px !important;
  display: block;
  position: absolute;
  top: 16px !important;
  left: 38% !important;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 0.06666em solid #fff;
  background-color: unset !important;
  background-color: unset !important;
  border: none !important;
  border-radius: 0.3em;
  transition: all 0.4s;
}

.vjs-has-started .vjs-control-bar {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s;
  width: 84% !important;
  margin: 0px auto 1px auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.video {
  width: 380px;
  height: 220px;
}


/* section 1 mediaquery */


@media(max-width:2300px) and (min-width:781px) {
  .smallScreen {
    display: none;
  }
}

@media(max-width:780px) {
  .smallScreen {
    display: flex;
  }

}

@media(max-width: 1800px) and (min-width: 1124px) {
  .text-box img {
    width: 6%;
  }
}

.videoclass {
  position: relative;
  height: 300px;
  border: 1px solid black;
}

@media(max-width:991px) {
  .text-box h2 {
    font-size: 20px;
    z-index: -1;
  }

  .text-box p {
    font-size: 12px;
    z-index: -1;
  }

  .text-box img {
    position: absolute;
    width: 12%;
    top: 10px;
    left: 13px;
  }

  .videoclass {
    position: relative;
    z-index: 0;
    height: 300px;
    border: 1px solid black;
  }

  .video {
    width: 300px;
    height: 180px;
  }

  .video-js .vjs-big-play-button {
    height: 200px !important;
    top: 10px !important;
    margin-top: -0.9em !important;
  }
}



@media(max-width:781px) {
  .bigScreenContainer {
    display: none;
  }

}

/* section 1 size for mobile or tablet */


.section-1-for-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: unset !important;
  height: auto;
  margin: 10px auto 10px auto;
}

.section-1-for-mobile img {
  width: 100%;
  height: auto;
  margin: 20px auto 20px auto;
  border-radius: 30px;
}

.section-1-for-mobile ul {
  padding-inline-start: 0px;
}

.section-1-for-mobile ul li {
  list-style: none;
}


.section-1-for-mobile h2 {
  color: blue;
}



.button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin: auto;
  background-color: #FF952B;
  color: white;
}

@media(max-width:350px) {
  .video {
    width: 260px !important;
    height: 140px !important;
  }

  .video-js .vjs-big-play-button {
    background-size: 40%;
    width: 180px !important;
    left: 35% !important;
    height: 130px !important;
    top: 15px !important;
    margin-top: -0.5em !important;
  }
}

/* section 2  */


.section-2 {
  height: 400px;
  background-color: #5C29FF;
}



.caruseldiv {
  height: 100% !important;

}

.slick-track {
  margin-top: 60px;
  display: flex !important;
  align-items: center !important;
}


.slick-slide>div {
  display: flex;
  place-items: center;
  width: 90%;
  margin-top: 50px;
  margin: auto;
  padding: 0px;
  display: flex;
  align-items: center;
  border-radius: 49px;
  height: 200px;
}

.section-2 .slick-center>div {
  height: 280px;
}

.bottom-div {
  height: 50%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #5C29FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom-div p {
  color: white;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 15px;
}

.bottom-div button {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #5CCDFF;
  width: 100px;
  height: 30px;
  margin: 10px auto 10px auto;
}



.top-div {
  height: 50%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden;
}

.top-div img {
  width: 100%;
  height: auto;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

@media(max-width:2300px) and (min-width:1800px) {
  .section-2 {
    height: 500px;
  }

  .section-2 .slick-center>div {
    height: 380px;
  }

  .slick-slide>div {
    height: 300px;
  }
}

/* section 2 mediaquery */

@media(max-width: 1800px) and (min-width: 1124px) {
  .slick-slide>div {
    width: 75%;
    height: 250px;
  }
}

@media(max-width:1024px) {
  .bottom-div {
    padding: 0px 20px 0px 20px;
  }

  .bottom-div p {
    font-size: x-small;
  }

  .section-2 .slick-slide>div {
    width: 75%;
  }

  .section-2 .slick-center>div {
    height: 300px;
  }
}

@media(max-width:991px) {
  .bottom-div p {
    font-size: small;
  }

  .section-2 .slick-slide>div {
    width: 70%;
  }
}

@media(max-width:768px) {
  .section-2 .slick-slide>div {
    width: 90%;
  }

  .section-2 .slick-center>div {
    height: 250px;
  }
}

@media(max-width:400px) {
  .section-2 .slick-center>div {
    height: 200px !important;
  }

  .section-2 .slick-slide>div {
    height: 150px;
  }

  .bottom-div p {
    font-size: x-small;
  }

  .bottom-div button {
    width: 80px;
    height: 20px;
    font-size: xx-small;
    margin: 5px auto 5px auto;
  }

  .section-2 {
    height: 300px;
  }

  .section-2 .slick-slide>div {
    width: 90%;
  }
}

/*  section 3  */

.img-box img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.section-3-main-div {
  height: auto;
  display: flex;
  align-items: center;
  margin: 20px auto 20px auto;
}

.section-3-main-div .text-box {
  padding: 0px 40px 0px 20px;
  text-align: right;
}

.section-3-main-div .text-box img {
  width: 100%;
  height: auto;
}



.home-folder .text-box .png {
  position: absolute !important;
  width: 60px !important;
  height: 100%;
  margin-top: 0px !important;
  right: -10px;
}

.section-3-main-div .text-box h2 {
  font-size: 25px;
  margin: 0px 20px 20px 0px;
}

.section-3-main-div .text-box p {
  z-index: -1;
  margin: 30px 20px 30px 20px;
}

.section-3-main-div .section-3-button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #5CCDFF;
  color: white;
}

.section-3-main-div .video-js {
  border: 5px solid #5CCDFF;
  border-radius: 60px;
  margin: 20px auto;
}


.section-3-main-div .video-js .vjs-big-play-button {
  background-image: url('/src/images/Polygo2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  line-height: unset !important;
  height: 230px !important;
  width: 200px !important;
  top: 16px !important;
  left: 38% !important;
  background-color: unset !important;
  background-color: unset !important;
  border: none !important;
  border-radius: 0.3em;
  transition: all 0.4s;
}

/* section 3 mediaquery */



@media(max-width:1024px) {
  .section-3-main-div .text-box p {
    font-size: small;
  }

  .section-3-main-div .video-js .vjs-big-play-button {
    background-image: url('/src/images/Polygo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    line-height: unset !important;
    height: 200px !important;
    width: 200px !important;
    top: 10px !important;
    left: 38% !important;
    background-color: unset !important;
    background-color: unset !important;
    border: none !important;
    border-radius: 0.3em;
    transition: all 0.4s;
  }
}

@media(max-width:780px) {
  .section-3-main-div {
    height: auto;
  }

  .section-3-button {
    margin: auto !important;
  }
}

/* section 3 size for mobile or tablet */

.section-3-for-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
}

.section-3-for-mobile img {
  width: 100%;
  height: auto;
  margin: 20px auto 20px auto;
  border-radius: 30px;
}

@media (max-width: 350px) {
  .section-3-for-mobile .video {
    width: 260px !important;
    height: 140px !important;
  }

  .section-3-main-div .video-js .vjs-big-play-button {
    background-size: 40%;
    height: 150px !important;
    width: 180px !important;
    left: 35% !important;
  }
}


/* section 4 */

.bg-div {
  background-image: url('../src/images/wave.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 9%;
}

.section-4-main-div .col-md-12 {
  height: 160px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: #381DC7;
  font-family: Arial Rounded MT Bold;
}

.section-4-div {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-div div {
  width: 100%;
  height: 100%;
}



.responsive {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

@media(max-width:991px) {
  .responsive {
    height: 200px;
    cursor: pointer;
  }

  .section-4-div {
    height: 250px;
  }
}

@media(max-width:568px) {
  .responsive {
    height: 150px;
    cursor: pointer;
  }

  .section-4-div {
    height: 200px;
  }
}

@media(max-width: 450px) {
  .responsive {
    height: 120px;
    cursor: pointer;
  }

  .section-4-div {
    height: 150px;
  }
}

@media(max-width: 370px) {
  .responsive {
    height: 100px;
    cursor: pointer;
  }

  .section-4-div {
    height: 120px;
  }
}

/* section 4 mediaquery */


.bg-div-media {
  display: none;
}

@media(max-width:768px) {
  .bg-div {
    display: none;
  }

  .bg-div-media {
    display: block;
    background-image: url('../src/images/wave.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 4%;
  }
}

@media(max-width:550px) {
  .bg-div-media {
    background-size: 100% 6%;
  }
}

@media(max-width:450px) {
  .bg-div-media {
    background-size: 100% 3%;
  }
}

@media(max-width:400px) {
  .bg-div-media {
    background-size: 100% 2%;
  }
}

.text-div {
  text-align: center !important;
  width: 100%;
  color: #381DC7;
  height: 150px;
  font-family: Arial Rounded MT Bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

@media(max-width:500px) {
  .text-div {
    height: 80px;
  }
}

.bg-div-media .col-md-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}


.section-media-4-div {
  width: 45%;
}

.bg-div-media .section-media-4-div img {
  width: 100%;
  height: 180px !important;
  border-radius: 20px;
}


/* section 5 */

.section-5-main-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.slide-div {
  height: 400px;
  background-color: #FF952C;
}



.bg-img-div {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg-img-div img {
  width: 100%;
  height: 390%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.section-5-main-div h4 {
  color: white;
  margin-top: 80px;
}

.section-5-main-div .bottom-div {
  background-color: white;
}

.section-5-main-div .bottom-div p {
  color: #6A6A6A;
}

.section-5-main-div .slick-center>div {
  height: 290px;
}

@media(max-width:2300px) and (min-width:1800px) {
  .slide-div {
    height: 500px;
  }

  .section-5-main-div .slick-center>div {
    height: 380px;
  }
}

/* section 5 mediaquery */


@media(max-width:768px) {
  .section-5-main-div {
    background-size: auto 100%;
    height: 580px;
    text-align: center;
    padding-top: 60px;
    margin-top: 0px;
  }

  .bg-img-div img {
    height: 270%;
  }

  .section-5-main-div .slick-slide>div {
    height: 200px;
  }

  .section-5-main-div .slick-center>div {
    height: 260px;
  }
}

@media(max-width:500px) {
  .bg-img-div img {
    height: 200%;
  }
}

@media(max-width:400px) {
  .bg-img-div img {
    height: 160%;
  }

  .section-5-main-div .slick-slide>div {

    height: 180px;
  }

  .section-5-main-div .slick-center>div {
    height: 220px;
  }

}


/* section 6 */

.section-6-main-div {
  height: auto;
  width: 100%;
}

.section-6-main-div .section-text-div {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.section-6-text-div h5 {
  color: #381DC7;
}


.section-6 {
  padding: 0px 50px 0px 50px;
}

.client-box {
  height: 100%;
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}


.section-6-main-div .slick-slide>div {
  display: flex;
  place-items: center;
  width: 90%;
  margin-top: 50px;
  margin: auto;
  padding: 0px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  height: 290px;
}

@keyframes active {
  from {
    height: 350px;
  }

  to {
    height: 290px;
  }
}

.section-6-main-div .slick-center>div {
  height: 350px;
  /* animation-name: center;
  animation-duration: 0.5s; */
}

@keyframes center {
  from {
    height: 290px;
  }

  to {
    height: 350px;
  }
}


.section-6-main-div .slick-track {
  margin-top: 20px;
  display: flex !important;
  align-items: center !important;
}

/* .section-6-main-div .slick-center .circle-div {
  width: 48%;
  height: auto;
  border-radius: 120px;
  margin: auto 0px -80px 0px;
} */


.section-6-main-div .slick-center .squer-div {
  width: 90%;
  height: 65%;
  border-radius: 70px;
  margin: auto 0px auto 0px;
  padding: 20px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.section-6-main-div .slick-center .squer-div p {
  margin: 10px auto 10px auto;
}

.section-6-main-div .slick-center .squer-div p:nth-child(1) {
  font-size: 22px;
}

/* .circle-div {
  width: 36%;
  height: auto;
  border-radius: 120px;
  margin: auto 0px -70px 0px;
}

.circle-div img {
  width: 100%;
  height: auto;
} */



.squer-div {
  width: 80%;
  height: 65%;
  border-radius: 70px;
  margin: auto 0px auto 0px;
  z-index: -1;
  text-align: center;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.squer-div p:nth-child(1) {
  margin-block-start: 1em;
  margin-block-end: 0em;
}

.squer-div p:nth-child(2) {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: small;
}

.squer-div p:nth-child(1) {
  font-size: 18px;
}

.slick-prev {
  left: -40px !important;
  width: 50px !important;
  height: 100px !important;
}

.slick-next {
  left: 100% !important;
  width: 50px !important;
  height: 100px !important;
}

.slick-next:before {
  content: url('../src/images/righticon.png') !important;
}

.slick-prev:before {
  content: url('../src/images/lefticon.png') !important;
}


.slick-dots {
  position: static !important;
}

/* section 6 mediaquery */

@media(max-width: 1800px) and (min-width: 1400px) {
  .squer-div {
    padding: 0px 10px 0px 10px;
  }

  .squer-div p:nth-child(2) {
    font-size: medium;
  }
}

@media(max-width:1024px) {
  .client-box {
    height: 450px;
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .section-6-main-div .slick-center>div {
    height: auto;
  }


  .section-6-main-div .slick-center .circle-div {
    width: 33%;
    border-radius: 120px;
    margin: auto 0px -40px 0px;
  }


  .section-6-main-div .slick-center .squer-div {
    width: 60%;
    height: 70%;
    border-radius: 70px;
  }

  .squer-div {
    width: 60%;
    height: 50%;
    border-radius: 70px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 32px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 20px;
  }

  .section-6-main-div .slick-center .squer-div p {
    margin: 10px auto 0px auto;
  }
}


@media(max-width:991px) {
  .section-6-main-div .slick-center .circle-div {
    margin: auto 0px -60px 0px;
    width: 33%;
  }

  .circle-div {
    margin: auto 0px -140px 0px;
    width: 33%;
  }

  /* .circle-div {
    width: 33%;
    height: 50%;
  } */

  .section-6-main-div .slick-center .squer-div {
    width: 60%;
    height: 50%;
    border-radius: 70px;
  }

  .squer-div {
    width: 60%;
    height: 40%;
    border-radius: 70px;
    padding: 10px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 25px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 16px;
  }

  .section-6-main-div .slick-center .squer-div p {
    margin: 10px auto 0px auto;
  }
}

@media(max-width:768px) {
  .section-6-main-div .slick-center .circle-div {
    width: 40%;
    border-radius: 120px;
  }

  .section-6-main-div .slick-slide .circle-div {
    height: 25%;
  }


  /* .circle-div {
    width: 35%;
    height: 35%;
    border-radius: 120px;
    margin: auto 0px -80px 0px;
  } */

  .section-6-main-div .slick-center .squer-div {
    width: 75%;
    height: 50%;
    border-radius: 70px;
  }


  .squer-div {
    width: 65%;
    height: 40%;
    border-radius: 70px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 25px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 17px;
  }
}


@media(max-width:520px) {
  .section-6-main-div .slick-center .circle-div {
    width: 40%;
    border-radius: 120px;
    margin: auto 0px -80px 0px;
  }

  .section-6-main-div .slick-slide .circle-div {
    height: 20%;
  }

  /* .circle-div {
    width: 20%;
    height: 40%;
    border-radius: 120px;
    margin: auto 0px -140px 0px;
  } */

  .section-6-main-div .slick-center .squer-div {
    width: 75%;
    height: 50%;
    border-radius: 70px;
  }

  .squer-div {
    width: 65%;
    height: 40%;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 20px;
  }

  .squer-div p:nth-child(1) {
    font-size: 18px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 13px;
  }

  .squer-div p:nth-child(2) {
    font-size: 10px;
  }

}

@media(max-width:480px) {
  .section-6-main-div .slick-center .circle-div {
    width: 30%;
    border-radius: 120px;
    margin: auto 0px -145px 0px;
  }

  /* .circle-div {
    width: 25%;
    height: 20%;
    border-radius: 120px;
    margin: auto 0px -200px 0px;
  } */

  .section-6-main-div .slick-center .squer-div {
    width: 85%;
    height: 40%;
    border-radius: 55px;
  }

  .squer-div {
    width: 85%;
    height: 30%;
    border-radius: 70px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 18px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 12px;
  }
}

@media(max-width:450px) {
  .section-6-main-div .slick-center .circle-div {
    width: 30%;
    border-radius: 120px;
    margin: auto 0px -160px 0px;
  }

  /* .circle-div {
    width: 25%;
    height: 20%;
    border-radius: 120px;
    margin: auto 0px -160px 0px;
  } */

  .section-6-main-div .slick-center .squer-div {
    width: 70%;
    height: 40%;
    border-radius: 55px;
  }

  .squer-div {
    width: 65%;
    height: 30%;
    border-radius: 70px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 15px;
    font-weight: 900;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 10px;
    font-weight: 700;
  }
}



@media(max-width:400px) {
  .client-box {
    height: 380px;
  }

  /* .section-6-main-div .slick-center .slick-center>div {
    height: 350px;
  } */

  .section-6-main-div .slick-center .circle-div {
    width: 30%;
    border-radius: 120px;
    margin: auto 0px -120px 0px;
  }



  .section-6-main-div .slick-center .squer-div {
    height: 50%;
  }

  .squer-div {
    height: 40%;
  }

  .squer-div p:nth-child(1) {
    font-size: 12px;
  }

  .squer-div p:nth-child(2) {
    font-size: 8px;
    margin-bottom: 3px;
  }
}

@media(max-width:370px) {
  .section-6-main-div .slick-center .slick-center>div {
    height: 350px;
  }

  .section-6-main-div .slick-center .circle-div {
    width: 40%;
    border-radius: 120px;
    margin: auto 0px -90px 0px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 10px;
    font-weight: 700;
  }

  .section-6-main-div .slick-center .squer-div {
    width: 90%;
    height: auto;
    border-radius: 55px;
  }
}

@media(max-width:320px) {
  .section-6-main-div .slick-center .squer-div p:nth-child(1) {
    font-size: 15px;
  }

  .section-6-main-div .slick-center .squer-div p:nth-child(2) {
    font-size: 10px;
  }
}

/* section 7  */

.section-7-main-div {
  height: 550px;
}

.section-7-main-div .section-text-div {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.section-7-main-div .section-text-div h6 {
  border: 3px solid #2A56D5;
  border-radius: 35px;
  padding: 10px 35px 10px 35px;
  font-size: 25px;
  color: #381DC7;
}


.section-7-form {
  height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-7-form input {
  margin: 10px auto 10px auto;
  border: 2px solid #2A56D5;
  padding-left: 10px;
  border-radius: 20px;
  height: 40px;
  width: 70%;
  outline: none !important;
}

.section-7-form textarea {
  width: 70%;
  height: 200px !important;
  outline: none !important;
  border: 2px solid #2A56D5;
  padding-left: 10px;
  border-radius: 20px;
}

.section-7-form button {
  width: 100px;
  height: 35px;
  background-color: #2A56D5;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 15px;
}

/* footer section  */

.footer-section {
  background-color: #5C29FF;
}

.footer-section {
  height: auto;
}

.footer-section .col-md-3 {
  display: flex;
  align-items: flex-start;
}

.footer-section .col-md-3 ul {
  list-style: none;
  color: white;
  padding-inline-start: 0px;
  padding: 10px;
}

.footer-section .col-md-3 p {
  font-size: 24px;
}


.footer-section .col-md-3 ul a {
  color: white;
  font-size: 20px;
  text-decoration: unset;
}

.footer-section .col-md-3 ul li {
  margin: 15px 0px 10px;
  font-size: 19px;
}


.footer-section .col-md-4 p {
  color: white;
}

.footer-section .col-md-4 {
  display: flex;
  justify-content: center;
}

.div-1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: space-evenly;
}

.div-1 ul {
  list-style: none;
  color: white;
  padding-inline-start: 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.div-1 ul li {
  width: 200px;
}

.footer-section .col-md-6 {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}



.footer-section .col-md-6 p {
  font-size: 24px;
  color: white;
}

.error {
  color: red !important;
  font-size: unset !important;
}



.subscribe {
  width: 100%;
  display: flex;
  position: relative;
}

.subscribe div {
  border: 2px solid white;
  width: 60%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.subscribe input {
  background-color: white;
  border: 2px solid #5C29FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none !important;
  width: 100%;
  padding-left: 10px;
}

.subscribe input::placeholder {
  opacity: 0.5;
}



.subscribe button {
  background-color: unset;
  border: 2px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none !important;
  border-left: none;
  color: white;
  width: 40%;
}

.footer-section .col-md-12 {
  text-align: right;
}

.social-media {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0px auto 0px 31px;
  justify-content: space-evenly;
}

.footer-section .social-media p {
  font-size: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  height: 40px;
}

.social-media p span {
  margin-right: 20px;
}

.social-media p a {
  color: white;
  text-decoration: none;
}

@media(max-width:501px) {
  .social-media p a {
    font-size: 15px;
  }
}


@media(max-width:450px) {
  .social-media p a {
    font-size: 12px;
  }
}

.social-media img {
  width: 8%;
  height: auto;
}




/* footer section mediaquery */

@media(max-width:991px) {
  .subscribe button {
    font-size: 15px;
  }

  .subscribe input::placeholder {
    font-size: 13px;
    margin: auto;
  }

  .social-media {
    margin: 0px auto 0px 10px;
  }

  .footer-section .social-media p {
    font-size: 15px
  }

  .footer-section .social-media p span {
    margin-right: 15px;
  }

  .footer-section .social-media img {
    width: 15%;
    height: auto;
  }
}

@media(max-width:767px) {

  .subscribe button {
    font-size: 15px;
  }

  .subscribe input::placeholder {
    font-size: 13px;
    margin: auto;
  }

  .social-media {
    margin: 0px auto 0px 20px;
    text-align: left;
  }

  .footer-section .social-media p {
    font-size: 15px;
  }

  .social-media p span {
    margin-right: 20px;
  }

  .social-media img {
    width: 10%;
    height: auto;
  }

  .footer-section .col-md-12 {
    justify-content: center;
  }

  .footer-section .col-md-12 ul {
    text-align: center;
    padding-inline-start: 0px;
  }
}


@media(max-width:500px) {
  .div-1 ul {
    margin-left: 0px;
  }

  .footer-section .col-md-3 ul li {
    margin: 10px 0px 10px;
    font-size: 15px;
  }

  .footer-section .col-md-3 p {
    font-size: 20px;
  }

  .footer-section .col-md-6 p {
    font-size: 20px;
  }

  .div-1 ul li {
    font-size: 15px;
    margin-top: 10px;
  }

  .subscribe {
    width: auto;
  }

  .subscribe button {
    font-size: 10px;
  }

  .social-media p span {
    margin-right: 20px;
  }
}

@media(max-width:410px) {
  .footer-section .col-md-6 p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .div-1 {
    width: 50%;
  }

  .div-1 ul li {
    font-size: 13px;
    margin-top: 10px;
  }

  .social-media {
    margin: 10px;
    text-align: center;
  }

  .footer-section .col-md-6 p {
    font-size: 15px;
  }

  .footer-section .social-media p span {
    margin-right: 15px;
  }
}

/* KSM */


.KSM-img {
  width: 100%;
  height: auto !important;
}

.KSM .section-one {
  height: 600px;
}

.KSM .text-box {
  height: 420px;
}

.KSM .text-box img {
  width: 9%;
  height: 57%;
  position: absolute;
  top: 61px;
  left: 0px;
}

.ksm-img-box {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:1199px) {
  .KSM .text-box img {
    width: 13%;
    height: 67%;
    position: absolute;
    top: 61px;
    left: 0px;
  }
}


@media(max-width:991px) {
  .KSM .text-box P {
    margin: 0px 0px auto 40px;
  }

  .KSM .text-box h2 {
    color: blue;
    font-size: 30px;
    margin: 0px auto 10px 40px
  }

  .KSM .text-box img {
    top: 55px;
  }

  .KSM .text-box img {
    width: 9%;
    height: 50%;
    position: absolute;
    width: 12%;
    top: 55px;
    left: 0px;
  }

  .ksm-img-box {
    height: 320px;
  }
}

@media(max-width:780px) {
  .ksm-img-box+p {
    font-size: small;
  }

  .KSM .text-box h2 {
    color: blue;
    font-size: 30px;
    margin: 0px auto 10px 40px
  }

  .KSM .text-box img {
    top: 55px;
  }

  .ksm-img-box {
    height: 350px;
  }

  .KSM-img {
    width: 90%;
    height: auto;
  }

  .KSM .section-1-for-mobile {
    height: 730px;
  }

  .KSM .button {
    margin: 10px auto 10px auto;
  }
}

@media(max-width:450px) {
  .ksm-img-box {
    height: 300px;
  }

  .KSM-img {
    width: 100%;
    height: auto;
  }
}

/* ksm section 2  */

.KSM .bottom-div h3 {
  color: white;
}

@media(max-width: 1800px) and (min-width: 1124px) {

  .KSM .slick-slide>div {
    width: 75%;
    height: 250px;
  }

  .KSM .slick-center>div {
    height: 300px;
  }
}

@media(max-width:1124px) {

  .KSM .bottom-div {
    padding: 0px 7px 5px 7px;
  }
}



@media(max-width:991px) {

  .KSM .bottom-div h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .KSM .slick-center>div {
    height: 250px;
  }

  .KSM .slick-slide>div {
    width: 95%;
  }
}


.KSM .top-div img {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

/* admin style */

table {
  border: 1px solid black;
  margin: 20px auto;
  width: auto;
  height: auto;
  width: 100%;
}

table thead {
  border: 2px solid black;
  height: 40px;
}

table thead th {
  border: 1px solid black;
  width: 50px;
  text-align: center;
}

table tbody td {
  border: 1px solid black;
  width: auto;
  text-align: center;
}

/* products */

.products-name {
  background-image: url('./images/homebg-shape.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-name h1 {
  position: absolute;
  color: white;
}



.main-products {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 20px auto;
}

.circle {
  border: 1px solid blue;
  width: 330px;
  height: 150px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.circle img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media(max-width:991px) {
  .circle {
    height: 120px;
    width: 230px;
  }
}

@media(max-width:768px) {
  .circle {
    height: 150px;
    width: 330px;
  }
}

@media(max-width:475px) {
  .circle {
    height: 120px;
    width: 300px;
  }
}

@media(max-width:400px) {
  .circle {
    height: 100px;
    width: 200px;
  }
}

.squard {
  border: 3px solid blue;
  height: 500px;
  width: 80%;
  border-radius: 50px;
  background-color: white;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.squard h2 {
  margin: 10px auto 10px auto;
  color: blue;
}



.squard p {
  font-size: 15px;
}


.product-btn {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-btn button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #FF952B;
  color: white;
}

/* products mediaquery */


@media(max-width:1199px) {
  /* .squard {
    height: auto;
    width: 100%;
  } */

}

@media(max-width:991px) {
  .squard {
    height: 600px;
    width: 100%;
  }

  .product-btn {
    width: 100%;
  }
}

@media(max-width:400px) {
  .product-btn button {
    width: 100px;
    font-size: 12px;
  }

  .squard {
    height: auto;
  }
}



/* blog */


.blog-banner {
  background-image: url('./images/homebg-shape.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-banner h2 {
  position: absolute;
  top: 80px;
  color: white;
  font-size: 40px;
}

.blog-text-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
  padding: 20px;
}

.blog-text-box p:nth-child(1) {
  font-size: 25px;
  font-weight: 700;
}

.blog-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blog-img-box img {
  width: 100%;
  height: auto;
  padding: 20px;
}

/* blog mediaquery */

@media(max-width:768px) {
  .blog-img-box img {
    width: 100%;
  }
}

/*  About  */

.main-about {
  background-image: url('./images/homebg-shape.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.main-about h2 {
  color: white;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  position: relative;
  padding-left: 25px !important;
}

.about-text .png {
  position: absolute !important;
  width: 60px !important;
  height: 100%;
  margin-top: 0px !important;
  left: -60px;
}

.about-text p {
  margin: 10px;
}

.about-text img {
  position: absolute;
  left: -25px;
  width: 8%;
  height: auto;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.about-img img {
  width: 100%;
  height: auto;
}

.team-info {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px !important;
}

.team-info-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.team-info-text {
  margin: 40px auto 50px auto;
}

/* about mediaquery */

@media(max-width:1199px) {
  .about-text .png {
    left: -30px;
  }
}

@media(max-width:991px) {
  .about-text img {
    left: -40px;
    width: 17%;
  }

  .about-text .png {
    display: none;
  }
}

@media(max-width:768px) {
  .about-text img {
    display: none;
  }

  .about-text {
    margin-bottom: 50px;
    padding-left: 0px !important;
  }
}

/* admin form */


.admin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* .admin-form label:nth-of-type(1){
  width: 100%;
} */

.admin-form label {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.admin-form label input {
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
  height: 50px;
}

.admin-form label textarea {
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
  height: 50px;
}




.file {
  width: 100%;
  border: 1px solid;
  margin: 10px;
  display: flex;
}

.file p {
  margin: 5px;
}



.admin-blog-text {
  text-align: center;
}